## Visual Studio ##
.vs/
**/bin/
**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates

## React / Node ##
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.local
.DS_Store

## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini